streamlit==1.49.1
pandas==2.3.2
scikit-learn==1.7.2
joblib==1.5.2
ortools==9.14.6206
streamlit==1.49.1
pandas==2.3.2
scikit-learn==1.7.2
joblib==1.5.2
ortools==9.14.6206
plotly
streamlit==1.49.1
pandas==2.3.2
scikit-learn==1.7.2
joblib==1.5.2
ortools==9.14.6206

plotly
streamlit
pandas
joblib
ortools
lightgbm
plotly
shap
